teleinfo-evolue
[{"id":"f09ebad4d117ff56","type":"tab","label":"Teleinfo evolué","disabled":false,"info":"","env":[]},{"id":"f3a5252a.f20a38","type":"debug","z":"f09ebad4d117ff56","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":100,"wires":[]},{"id":"de7b3947.70b9d8","type":"function","z":"f09ebad4d117ff56","name":"Structure payload","func":"function isNumeric(n) { \n      return !isNaN(parseFloat(n)) && isFinite(n); \n}\n\n// Pour tous les labels \nfor (var label in msg.payload ) {\n    var value = msg.payload[label];\n    \n\t// Correction des valeurs type string en numérique \t\t\n\tif (label == \"OPTARIF\")\t{\n  \t\t// L'option tarifaire choisie (Groupe \"OPTARIF\") est codée sur 4 caractères alphanumériques \n  \t\t// J'ai pris un nombre arbitraire codé dans l'ordre ci-dessous \n  \t\t// je mets le 4eme char à 0, trop de possibilités \n      \tvalue = value.substring(0, 3);\n    \n       \tif      (value==\"BAS\") value=1;// BASE => Option Base. \n  \t\telse if (value==\"HC.\") value=2;// HC.. => Option Heures Creuses. \n  \t\telse if (value==\"EJP\") value=3;// EJP. => Option EJP. \n  \t\telse if (value==\"BBR\") value=4;// BBRx => Option Tempo\n  \t\telse value = 0;\n  \t\t\n  \t\tmsg.payload[label] = value;\n\t} else if (label==\"HHPHC\") {\n      // L'horaire heures pleines/heures creuses (Groupe \"HHPHC\") est codé par un caractère A à Y \n      // J'ai choisi de prendre son code ASCII\n      msg.payload[label] = value.charCodeAt();\n    } else if ( label == \"PTEC\") {\n      // La période tarifaire en cours (Groupe \"PTEC\"), est codée sur 4 caractères \n      // J'ai pris un nombre arbitraire codé dans l'ordre ci-dessous\n      if      (value==\"TH..\") value= 1; // Toutes les Heures. \n      else if (value==\"HC..\") value= \"Heures Creuses\"; // Heures Creuses. \n      else if (value==\"HP..\") value= \"Heures Pleines\"; // Heures Pleines. \n      else if (value==\"HN..\") value= 4; // Heures Normales. \n      else if (value==\"PM..\") value= 5; // Heures de Pointe Mobile. \n      else if (value==\"HCJB\") value= 6; // Heures Creuses Jours Bleus. \n      else if (value==\"HCJW\") value= 7; // Heures Creuses Jours Blancs (White). \n      else if (value==\"HCJR\") value= 8; // Heures Creuses Jours Rouges. \n      else if (value==\"HPJB\") value= 9; // Heures Pleines Jours Bleus. \n      else if (value==\"HPJW\") value= 10;// Heures Pleines Jours Blancs (White). \n      else if (value==\"HPJR\") value= 11;// Heures Pleines Jours Rouges. \n      else value = 0;\n      \n      msg.payload[label] = value;\n    } else if ( label == \"IINST\") {\n        delete msg.payload.IINST;\n        msg.payload.IINST = Number(value)\n    } else if ( label == \"IMAX\") {\n        delete msg.payload.IMAX;\n        msg.payload.IMAX1 = Number(value);\n    } else if ( isNumeric(value) && label != \"ADCO\" ) {\n        // Transformer les valeurs numériques\n        msg.payload[label] = Number(value);\n    }\n}\n\n// Sauvegarde dans le contexte global\ncontext.global.teleinfo = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["a59761b.7aa89a","be937898.322178","dac8bdd2.8a9c1","e27cf9a4.9d24b8"]]},{"id":"a59761b.7aa89a","type":"function","z":"f09ebad4d117ff56","name":"INDEX WH","func":"var INDEX = msg.payload.BASE\n\nmsg.payload = INDEX\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":80,"wires":[["e869b9fe.7be1e8"]]},{"id":"1d02e19d.5964fe","type":"function","z":"f09ebad4d117ff56","name":"valide trame","func":"// La trame complète est reçue dans 'msg'\nvar teleinfo={};\n\n// Enlever les codes début et fin de trame et récupérer les lignes 1 à 1\nvar lines = msg.payload.toString().replace(\"\\u0002\\n\",\"\").replace(\"\\r\\u0003\",\"\");\nlines = lines.split(\"\\r\\n\");\n\n// Pour chaque ligne\nfor (var line in lines) {\n\tvar i;\n  \tvar checksum = 32;\n  \t\n  \t// Recupérer le label, la valeur et la checksum\n  \t// si la checksum est un espace on le remplace par un caractère non \n  \t// autorisé en checksum (ici 's') pour eviter pb de split\n  \t// donc espace espace devient espace s\n\tvar myline = lines[line].toString().replace(\"  \",\" s\").split(\" \");\n\t\n\t// on dépile nos 3 valeurs\n\tvar check = myline.pop();\n\tvar value = myline.pop();\n\tvar label = myline.pop();\n\t\n\t// On peu repositionner la checksum à espace si c'était le cas\n\tif (check == \"s\") check = \" \";\n\n\t// Calcul de la checksum sur ce qu'on a reçu, on balaye tous les caractères\t\t\n  \tfor (i = 0; i < label.length; i++) checksum += label.charCodeAt(i);\n  \tfor (i = 0; i < value.length; i++) checksum += value.charCodeAt(i);\n \tchecksum = ((checksum%256) & 63) + 32;\n \tchecksum = String.fromCharCode(checksum);\n\t\n\t// Checksum correcte ?\n \tif (checksum == check ) {\n\t\tteleinfo[label] = value;\n\t} else {\n\t\tconsole.log(\"'%s' '%s' '%s' => Bad Checksum '%s'\", label, value, check, checksum );\n\t}\n}\nreturn [ { payload: teleinfo } ];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":280,"wires":[["de7b3947.70b9d8","4556a689.2f9698"]]},{"id":"e869b9fe.7be1e8","type":"rbe","z":"f09ebad4d117ff56","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":80,"wires":[["f3a5252a.f20a38","f42e2f0c.4bf5a","b8657ce5.66446"]]},{"id":"be937898.322178","type":"function","z":"f09ebad4d117ff56","name":"INDEX KWH","func":"var INDEX = msg.payload.BASE\n\nmsg.payload = INDEX / 1000\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":280,"wires":[["7eb8f451.0583dc"]]},{"id":"7eb8f451.0583dc","type":"rbe","z":"f09ebad4d117ff56","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":280,"wires":[["4efbc51e.5157dc","9bd3d335.1db56"]]},{"id":"4efbc51e.5157dc","type":"debug","z":"f09ebad4d117ff56","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":300,"wires":[]},{"id":"e27cf9a4.9d24b8","type":"function","z":"f09ebad4d117ff56","name":"IINST","func":"var IINST = msg.payload.IINST\n\nmsg.payload = IINST\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":480,"wires":[["e85e7b0d.bf3498"]]},{"id":"8cf17c41.5f3b8","type":"debug","z":"f09ebad4d117ff56","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":500,"wires":[]},{"id":"e85e7b0d.bf3498","type":"rbe","z":"f09ebad4d117ff56","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":480,"wires":[["8cf17c41.5f3b8","894f911e.e101b"]]},{"id":"dba46d7e.3b0c4","type":"delay","z":"f09ebad4d117ff56","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":240,"y":280,"wires":[["1d02e19d.5964fe","5f91a580.c0505c"]]},{"id":"dac8bdd2.8a9c1","type":"debug","z":"f09ebad4d117ff56","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":180,"wires":[]},{"id":"4556a689.2f9698","type":"debug","z":"f09ebad4d117ff56","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":180,"wires":[]},{"id":"5f91a580.c0505c","type":"debug","z":"f09ebad4d117ff56","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":180,"wires":[]},{"id":"2d9fa26f.83b87e","type":"influxdb out","z":"f09ebad4d117ff56","influxdb":"506ad1a9.81606","name":"index Wh","measurement":"Wh","precision":"","retentionPolicy":"","x":1300,"y":60,"wires":[]},{"id":"f42e2f0c.4bf5a","type":"function","z":"f09ebad4d117ff56","name":"","func":"var INDEX_WH = msg.payload;\nmsg.payload = [];\nfields = {\"value\":INDEX_WH};\ntags =  {\"entity\":\"teleinfo\"};\nmsg.payload = [fields,tags];\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":20,"wires":[["f5a13858.2c1278","2d9fa26f.83b87e"]]},{"id":"f5a13858.2c1278","type":"debug","z":"f09ebad4d117ff56","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":20,"wires":[]},{"id":"9bd3d335.1db56","type":"function","z":"f09ebad4d117ff56","name":"","func":"var INDEX_KWH = msg.payload;\nmsg.payload = [];\nfields = {\"value\":INDEX_KWH};\ntags =  {\"entity\":\"teleinfo\"};\nmsg.payload = [fields,tags];\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":220,"wires":[["a66ee790.9208d8","a0145d3b.b2da7"]]},{"id":"a66ee790.9208d8","type":"influxdb out","z":"f09ebad4d117ff56","influxdb":"506ad1a9.81606","name":"index kWh","measurement":"kWh","precision":"","retentionPolicy":"","x":1310,"y":260,"wires":[]},{"id":"a0145d3b.b2da7","type":"debug","z":"f09ebad4d117ff56","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":220,"wires":[]},{"id":"894f911e.e101b","type":"function","z":"f09ebad4d117ff56","name":"","func":"var IINST = msg.payload;\nmsg.payload = [];\nfields = {\"value\":IINST};\ntags =  {\"entity\":\"teleinfo\"};\nmsg.payload = [fields,tags];\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":420,"wires":[["d95d5fe0.33b13","13b71288.38316d"]]},{"id":"d95d5fe0.33b13","type":"influxdb out","z":"f09ebad4d117ff56","influxdb":"506ad1a9.81606","name":"IINST A","measurement":"A","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1300,"y":460,"wires":[]},{"id":"13b71288.38316d","type":"debug","z":"f09ebad4d117ff56","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":420,"wires":[]},{"id":"b8657ce5.66446","type":"link out","z":"f09ebad4d117ff56","name":"index Wh out","links":["eeedfbd8.5cdbc8"],"x":1475,"y":80,"wires":[]},{"id":"8925d0b0eee658fc","type":"mqtt out","z":"f09ebad4d117ff56","name":"","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6e306843.dff7f8","x":570,"y":440,"wires":[]},{"id":"3eba1ab1fa935eca","type":"function","z":"f09ebad4d117ff56","name":"maison","func":"var str = \"\";\nvar ti = context.global.teleinfo;\n \nfor (var label in ti) {\n\tif (label==\"PAPP\" || label==\"IINST\" ) {\n            msg.topic = \"maison/\"+ label; \n            msg.payload = ti[label];\n            node.send(msg);\n\t}\n}\nreturn [ ];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":281,"y":439,"wires":[["8925d0b0eee658fc","3cedfa1600ed2a17"]]},{"id":"d15a75d3c23bd6ee","type":"inject","z":"f09ebad4d117ff56","name":"15s","repeat":"15","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":108,"y":526,"wires":[["3eba1ab1fa935eca"]]},{"id":"3cedfa1600ed2a17","type":"debug","z":"f09ebad4d117ff56","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":514,"wires":[]},{"id":"d465b550780d69e1","type":"serial in","z":"f09ebad4d117ff56","name":"teleinfo","serial":"47320f5fd2b3e48d","x":70,"y":280,"wires":[["dba46d7e.3b0c4"]]},{"id":"506ad1a9.81606","type":"influxdb","hostname":"192.168.66.100","port":"8086","protocol":"http","database":"edf","name":"EDF","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"6e306843.dff7f8","type":"mqtt-broker","name":"Cubie3","broker":"192.168.66.100","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"47320f5fd2b3e48d","type":"serial-port","serialport":"/dev/serial/by-id/usb-FTDI_FT230X_Basic_UART_TINFO-1844-if00-port0","serialbaud":"1200","databits":"7","parity":"even","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0x3","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]
