teleinfo-evolue-calculs
[{"id":"8977d669b5f1b151","type":"tab","label":"Teleinfo evolué calculs","disabled":false,"info":"","env":[]},{"id":"2fa3cc8c.26e4e4","type":"group","z":"8977d669b5f1b151","name":"calcul pinst","style":{"label":true},"nodes":["e602836a.88009","968ffcbe.c71f6","99fc43d3.480c8","c19adf9e.1133f","83f99bb7.ba5e58","5a33d431.472e3c","d896de02.e164","240f494e.2ff4e6","18af7dc9.547a02","858be772.d20f58","7942b3c9.538ccc","9beee6ce.b3a928","9fd0cefb.5a044","26141645.2e647a"],"x":-6,"y":19,"w":1312,"h":262},{"id":"996f1375.2bd1a","type":"group","z":"8977d669b5f1b151","name":"Reçoit index et stocke dans flow.index_wh","style":{"label":true},"nodes":["eeedfbd8.5cdbc8","81c566a2.4f9818","75f79cb3.868664"],"x":-6,"y":299,"w":332,"h":122},{"id":"36da5bc.fd26ba4","type":"group","z":"8977d669b5f1b151","name":"Set l'index de chaque période à l'index courant au début de période","style":{"label":true},"nodes":["34fa1673.303d4a","ca2e400.26cdbc","a93c58fb.5cdb58","6a466edd.0b0f6","a1779070.3fed9","bd03fa4e.060ae8"],"x":-6,"y":419,"w":812,"h":182},{"id":"264f0a43.d94c56","type":"group","z":"8977d669b5f1b151","name":"Compte le nombre d'indexes passé depuis le début de chaque période (toutes les minutes)","style":{"label":true},"nodes":["54b6ac23.354954","dfe4855a.5a5018","49919f86.3e552","e396f6eb.e3b738","76e663ba.4bd96c","d7509684.694248","f59955e.cf077a8","43e0d338.8f98fc","97ba7fb6.6e84a","fc32c850.d3eae8","f7de4d38.b5bff","e94200b.e2ad3","6bb89f26.7964c","3d2e58b0.c87bc8","5f878812.c341f8","ddfd997e.caf398"],"x":-6,"y":619,"w":1392,"h":242},{"id":"e602836a.88009","type":"influxdb in","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","influxdb":"506ad1a9.81606","name":"2min ago index","query":"SELECT distinct(\"value\") FROM \"Wh\" WHERE (\"entity\" = 'teleinfo') AND time >= now() - 120s GROUP BY time(1s) fill(null)","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":100,"wires":[["99fc43d3.480c8","9beee6ce.b3a928"]]},{"id":"968ffcbe.c71f6","type":"influxdb in","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","influxdb":"506ad1a9.81606","name":"last index","query":"SELECT distinct(\"value\") FROM \"Wh\" WHERE (\"entity\" = 'teleinfo') AND time >= now() - 1m GROUP BY time(1s) fill(null) ORDER BY time DESC","rawOutput":false,"precision":"","retentionPolicy":"","x":260,"y":200,"wires":[["d896de02.e164","9fd0cefb.5a044"]]},{"id":"99fc43d3.480c8","type":"function","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","name":"","func":"msg2 = {};\nmsg2.payload = {};\ntopic = 'old';\nmsg2.payload.old_state = parseFloat(msg.payload[0].distinct);\nmsg2.payload.old_date = new Date(msg.payload[0].time);\nmsg2.topic = topic;\nreturn msg2;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["c19adf9e.1133f","18af7dc9.547a02"]]},{"id":"c19adf9e.1133f","type":"join","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":140,"wires":[["83f99bb7.ba5e58"]]},{"id":"83f99bb7.ba5e58","type":"function","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","name":"","func":"old = msg.payload.old.old_state;\ncurrent = msg.payload.new.new_state;\ndiff_index = current - old;\ndiff_seconds = (msg.payload.new.new_date - msg.payload.old.old_date) / 1000;\nif (diff_seconds == 0) {\n    conso = 0;\n} else {\n    coeff = diff_seconds / 3600\n    conso = diff_index / coeff\n    conso = Math.round(conso*100)/100\n}\nmsg2 = {};\nmsg2.payload = {};\nmsg2.payload.conso = conso;\nmsg2.payload.diff_sec = diff_seconds;\nmsg2.payload.old_time = msg.payload.old.old_date;\nmsg2.payload.new_time = msg.payload.new.new_date;\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":140,"wires":[["240f494e.2ff4e6"]]},{"id":"5a33d431.472e3c","type":"inject","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"90","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["e602836a.88009","968ffcbe.c71f6"]]},{"id":"d896de02.e164","type":"function","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","name":"","func":"msg3 = {};\nmsg3.payload = {};\ntopic = 'new';\nmsg3.payload.new_state = parseFloat(msg.payload[0].distinct);\nmsg3.payload.new_date = new Date(msg.payload[0].time);\nmsg3.topic = topic;\nreturn msg3;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["c19adf9e.1133f","858be772.d20f58"]]},{"id":"240f494e.2ff4e6","type":"function","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","name":"transforme en nombre + format pour influx","func":"var conso = parseFloat(msg.payload.conso);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_teleinfo\"};\nmsg.payload = [fields,tags];\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":140,"wires":[["7942b3c9.538ccc","26141645.2e647a"]]},{"id":"18af7dc9.547a02","type":"debug","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":100,"wires":[]},{"id":"858be772.d20f58","type":"debug","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":180,"wires":[]},{"id":"7942b3c9.538ccc","type":"debug","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":100,"wires":[]},{"id":"9beee6ce.b3a928","type":"debug","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":60,"wires":[]},{"id":"9fd0cefb.5a044","type":"debug","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":240,"wires":[]},{"id":"26141645.2e647a","type":"influxdb out","z":"8977d669b5f1b151","g":"2fa3cc8c.26e4e4","influxdb":"506ad1a9.81606","name":"Conso W","measurement":"W","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1220,"y":140,"wires":[]},{"id":"eeedfbd8.5cdbc8","type":"link in","z":"8977d669b5f1b151","g":"996f1375.2bd1a","name":"index Wh in","links":["b8657ce5.66446"],"x":35,"y":380,"wires":[["81c566a2.4f9818","75f79cb3.868664"]]},{"id":"81c566a2.4f9818","type":"debug","z":"8977d669b5f1b151","g":"996f1375.2bd1a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":170,"y":340,"wires":[]},{"id":"75f79cb3.868664","type":"change","z":"8977d669b5f1b151","g":"996f1375.2bd1a","name":"","rules":[{"t":"set","p":"index_wh","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":380,"wires":[[]]},{"id":"34fa1673.303d4a","type":"change","z":"8977d669b5f1b151","g":"36da5bc.fd26ba4","name":"","rules":[{"t":"set","p":"index_wh_start_day","pt":"flow","to":"index_wh","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":480,"wires":[[]]},{"id":"ca2e400.26cdbc","type":"cronplus","z":"8977d669b5f1b151","g":"36da5bc.fd26ba4","name":"start periods","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output2","outputs":2,"options":[{"name":"day","topic":"day","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0 0 * * ? *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"month","topic":"month","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0 0 1 * ? *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"year","topic":"year","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0 0 1 1 ? *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":110,"y":520,"wires":[["a1779070.3fed9"],[]]},{"id":"a93c58fb.5cdb58","type":"change","z":"8977d669b5f1b151","g":"36da5bc.fd26ba4","name":"","rules":[{"t":"set","p":"index_wh_start_month","pt":"flow","to":"index_wh","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":520,"wires":[[]]},{"id":"6a466edd.0b0f6","type":"change","z":"8977d669b5f1b151","g":"36da5bc.fd26ba4","name":"","rules":[{"t":"set","p":"index_wh_start_year","pt":"flow","to":"index_wh","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":560,"wires":[[]]},{"id":"a1779070.3fed9","type":"switch","z":"8977d669b5f1b151","g":"36da5bc.fd26ba4","name":"period select","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"day","vt":"str"},{"t":"eq","v":"month","vt":"str"},{"t":"eq","v":"year","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":520,"wires":[["34fa1673.303d4a"],["a93c58fb.5cdb58"],["6a466edd.0b0f6"]]},{"id":"bd03fa4e.060ae8","type":"inject","z":"8977d669b5f1b151","g":"36da5bc.fd26ba4","name":"Manual init >> DO NOT PRESS UNTIL REALLY NEEDED >>","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":460,"wires":[["34fa1673.303d4a","a93c58fb.5cdb58","6a466edd.0b0f6"]]},{"id":"54b6ac23.354954","type":"change","z":"8977d669b5f1b151","g":"264f0a43.d94c56","name":"","rules":[{"t":"set","p":"index_wh_end_day","pt":"flow","to":"index_wh","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":700,"wires":[["76e663ba.4bd96c"]]},{"id":"dfe4855a.5a5018","type":"change","z":"8977d669b5f1b151","g":"264f0a43.d94c56","name":"","rules":[{"t":"set","p":"index_wh_end_month","pt":"flow","to":"index_wh","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":740,"wires":[["f59955e.cf077a8"]]},{"id":"49919f86.3e552","type":"change","z":"8977d669b5f1b151","g":"264f0a43.d94c56","name":"","rules":[{"t":"set","p":"index_wh_end_year","pt":"flow","to":"index_wh","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":780,"wires":[["97ba7fb6.6e84a"]]},{"id":"e396f6eb.e3b738","type":"calculator","z":"8977d669b5f1b151","g":"264f0a43.d94c56","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"","x":740,"y":700,"wires":[["e94200b.e2ad3"]]},{"id":"76e663ba.4bd96c","type":"function","z":"8977d669b5f1b151","g":"264f0a43.d94c56","name":"","func":"var start_day = flow.get(\"index_wh_start_day\");\nvar end_day = flow.get(\"index_wh_end_day\");\nmsg.payload = [end_day,start_day];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":700,"wires":[["e396f6eb.e3b738"]]},{"id":"d7509684.694248","type":"calculator","z":"8977d669b5f1b151","g":"264f0a43.d94c56","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"","x":740,"y":740,"wires":[["3d2e58b0.c87bc8"]]},{"id":"f59955e.cf077a8","type":"function","z":"8977d669b5f1b151","g":"264f0a43.d94c56","name":"","func":"var start_month = flow.get(\"index_wh_start_month\");\nvar end_month = flow.get(\"index_wh_end_month\");\nmsg.payload = [end_month,start_month];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":740,"wires":[["d7509684.694248"]]},{"id":"43e0d338.8f98fc","type":"calculator","z":"8977d669b5f1b151","g":"264f0a43.d94c56","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"","x":740,"y":780,"wires":[["ddfd997e.caf398"]]},{"id":"97ba7fb6.6e84a","type":"function","z":"8977d669b5f1b151","g":"264f0a43.d94c56","name":"","func":"var start_year = flow.get(\"index_wh_start_year\");\nvar end_year = flow.get(\"index_wh_end_year\");\nmsg.payload = [end_year,start_year];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":780,"wires":[["43e0d338.8f98fc"]]},{"id":"fc32c850.d3eae8","type":"inject","z":"8977d669b5f1b151","g":"264f0a43.d94c56","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":110,"y":740,"wires":[["54b6ac23.354954","dfe4855a.5a5018","49919f86.3e552"]]},{"id":"f7de4d38.b5bff","type":"influxdb out","z":"8977d669b5f1b151","g":"264f0a43.d94c56","influxdb":"506ad1a9.81606","name":"Conso Wh day","measurement":"Wh","precision":"","retentionPolicy":"","x":1260,"y":660,"wires":[]},{"id":"e94200b.e2ad3","type":"function","z":"8977d669b5f1b151","g":"264f0a43.d94c56","name":"transforme en nombre + format pour influx","func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_day\"};\nmsg.payload = [fields,tags];\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":660,"wires":[["f7de4d38.b5bff"]]},{"id":"6bb89f26.7964c","type":"influxdb out","z":"8977d669b5f1b151","g":"264f0a43.d94c56","influxdb":"506ad1a9.81606","name":"Conso Wh month","measurement":"Wh","precision":"","retentionPolicy":"","x":1270,"y":740,"wires":[]},{"id":"3d2e58b0.c87bc8","type":"function","z":"8977d669b5f1b151","g":"264f0a43.d94c56","name":"transforme en nombre + format pour influx","func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_month\"};\nmsg.payload = [fields,tags];\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":740,"wires":[["6bb89f26.7964c"]]},{"id":"5f878812.c341f8","type":"influxdb out","z":"8977d669b5f1b151","g":"264f0a43.d94c56","influxdb":"506ad1a9.81606","name":"Conso Wh year","measurement":"Wh","precision":"","retentionPolicy":"","x":1260,"y":820,"wires":[]},{"id":"ddfd997e.caf398","type":"function","z":"8977d669b5f1b151","g":"264f0a43.d94c56","name":"transforme en nombre + format pour influx","func":"var conso = parseFloat(msg.payload);\nmsg.payload = [];\nfields = {\"value\":conso};\ntags =  {\"entity\":\"conso_year\"};\nmsg.payload = [fields,tags];\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":820,"wires":[["5f878812.c341f8"]]},{"id":"506ad1a9.81606","type":"influxdb","hostname":"192.168.66.100","port":"8086","protocol":"http","database":"edf","name":"EDF","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false}]
